
{% load static %}
<!doctype html>
<html lang="ko">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/style1.css">
    <link rel="stylesheet" type="text/css" href="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/style.css">
    <link rel="stylesheet" type="text/css" href="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/chart.css">
    <link rel="stylesheet" type="text/css" href="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/detail.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/bootstrap.min.css">
    <!-- pybo CSS -->


    <title>너와 나의 중고차, 아워카</title>
</head>
<body>
<!-- 네비게이션바 -->
<div>
{% include "navbar.html" %}
</div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->

<script src="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/bootstrap.min.js"></script>
<script src="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/javascripts.js"></script>
<script src="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/chart.js"></script>
<script src="https://ourcar-bucket.s3.ap-northeast-2.amazonaws.com/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>