.price-info {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.price-info h3 {
    margin: 10px 0;
}

#info-trigger {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

#info-content {
    display: none;
    margin-top: 10px;
}

#info-trigger:hover + #info-content {
    display: block;
}


.mileage-info {
    margin-bottom: 20px;
}

.mileage-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.status-icon {
    font-size: 24px;
    margin-right: 10px;
}

.status-text {
    font-size: 16px;
    vertical-align: middle;
}

.emphasis {
    font-weight: bold;
    color: red; /* Choose a color that suits your design */
}

.navbar .nav_son {
    background-color: rgb(0, 128, 230); /* CMYK: 100 50 0 10 -> RGB: 0 128 230 */
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-toggler-icon {
    color: rgb(255, 255, 255); /* 원하는 색상으로 변경하세요 */
}

/* 이미지에 마우스를 올렸을 때의 애니메이션 효과 */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/*썸네일 애니메이션*/
@keyframes post-ani {
    25% {
        transform: rotate(2deg) scale(1.01);
    }
 
    50% {
        transform: rotate(0deg) scale(1);
    }
 
    75% {
        transform: rotate(-2deg) scale(1.01);
    }
}


/* 이미지 요소에 애니메이션을 적용하는 클래스 */
.shaking-image:hover {
  animation: shake 0.5s ease-in-out infinite; /* 애니메이션 지속 시간과 반복 설정 */
  /* opacity: 0.9;
	animation: post-ani 0.8s linear 1; */
}
  
