{% extends 'base.html' %}

{% block content %}
<div class="container-fluid my-3 px-5">
    <div class="row">
        <!-- 왼쪽 열: 사용자 정보 -->
        <div class="col-md-2" style="background-color:skyblue;">
            <div class="text-center ">
                <h3>사용자 정보</h3>
                <!-- 사용자가 선택한 이미지 or 디폴트 이미지 -->
                <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}/static/uploads/user_default.png{% endif %}" alt="프로필 이미지" class="rounded-circle mb-3" style="width: 100%; max-width: 200px;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="profile_image"> <!-- 파일 업로드 필드 -->
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
                <p><strong>이름:</strong> {{ user.username }}</p>
                <p><strong>이메일:</strong> {{ user.email }}</p>
                <p><strong>전화번호:</strong> {{ user.phone_number }}</p>
                <!-- 기타 사용자 정보 필드들을 추가로 출력할 수 있음 -->
            </div>
            <!-- 사용자 정보 출력 부분 이후에 추가 -->
            <div class="text-center ">
                <h3>TestSangmin 정보</h3>
                {% if test_sangmin_instance %}
                    <p><strong>SEQ:</strong> {{ test_sangmin_instance.seq }}</p>
                    {% if test_sangmin_instance.interior_am %}
                        <p><strong>가전/가구/주방용품 :</strong> {{ test_sangmin_instance.interior_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.insuhos_am %}
                        <p><strong>보험/병원 :</strong> {{ test_sangmin_instance.insuhos_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.offedu_am %}
                        <p><strong>사무통신/서적/학원 :</strong> {{ test_sangmin_instance.offedu_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.trvlec_am %}
                        <p><strong>여행/레져/문화 :</strong> {{ test_sangmin_instance.trvlec_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.fsbz_am %}
                        <p><strong>요식업 :</strong> {{ test_sangmin_instance.fsbz_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.svcarc_am %}
                        <p><strong>용역/수리/건축자재 :</strong> {{ test_sangmin_instance.svcarc_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.dist_am %}
                        <p><strong>유통 :</strong> {{ test_sangmin_instance.dist_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.plsanit_am %}
                        <p><strong>보건위생 :</strong> {{ test_sangmin_instance.plsanit_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.clothgds_am %}
                        <p><strong>의류/신변잡화 :</strong> {{ test_sangmin_instance.clothgds_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.auto_am %}
                        <p><strong>자동차/연료/정비 :</strong> {{ test_sangmin_instance.auto_am }}</p>
                    {% endif %}
                    {% if test_sangmin_instance.car_price %}
                        <p><strong>Car Price:</strong> {{ test_sangmin_instance.car_price }}</p>
                    {% endif %}
                {% else %}
                    <p>TestSangmin 정보가 없습니다.</p>
                {% endif %}
            </div>
            
        </div>

        <!-- 오른쪽 열: 좋아요한 게시글 목록 -->
        
        <div class="col-md-9">
            <div class="tab" style="display: flex; justify-content: flex-end;">
                <button class="tablinks" onclick="openCity(event, 'Paris')">나의 소비 내역</button>
                <button class="tablinks active" onclick="openCity(event, 'London')" id="defaultOpen">관심있는 차량</button>
            </div>
            <div id="London" class="tabcontent">
                <div class="liked-posts ">
                    {% if liked_questions %}
                    <div class="row">
                        {% for question in liked_questions %}
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img src="/static/uploads/sampleCAR.jpg" class="card-img-top" alt="대표 사진">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a></h5>
                                    <p class="card-text">글쓴이: {{ question.author.username }}</p>
                                    <p class="card-text">작성일시: {{ question.create_date|date:"Y년 m월 d일" }}</p>
                                    <span class="badge bg-danger">{{ question.answer_set.count }} 답변</span>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div><div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>좋아요한 게시글이 없습니다.</p>
                    {% endif %}
                </div>
                <!-- 페이징처리 -->
                {% if liked_questions.has_other_pages %}
                <ul class="pagination justify-content-center mt-4">
                    {% if liked_questions.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    {% for num in liked_questions.paginator.page_range %}
                    {% if liked_questions.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}<span class="sr-only"></span></span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if liked_questions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ liked_questions.paginator.num_pages }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

            
            <div id="Paris" class="tabcontent">
                <div class="text-center ">
                    <h3>TestSangmin 정보</h3>
                    <canvas id="myChart" width="250" height="250"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [
                            {% if test_sangmin_instance %}
                                {% if test_sangmin_instance.interior_am > 0 %}'가전/가구/주방용품',{% endif %}
                                {% if test_sangmin_instance.insuhos_am > 0 %}'보험/병원',{% endif %}
                                {% if test_sangmin_instance.offedu_am > 0 %}'사무통신/서적/학원',{% endif %}
                                {% if test_sangmin_instance.trvlec_am > 0 %}'여행/레져/문화',{% endif %}
                                {% if test_sangmin_instance.fsbz_am > 0 %}'요식업',{% endif %}
                                {% if test_sangmin_instance.svcarc_am > 0 %}'용역/수리/건축자재',{% endif %}
                                {% if test_sangmin_instance.dist_am > 0 %}'유통',{% endif %}
                                {% if test_sangmin_instance.plsanit_am > 0 %}'보건위생',{% endif %}
                                {% if test_sangmin_instance.clothgds_am > 0 %}'의류/신변잡화',{% endif %}
                                {% if test_sangmin_instance.auto_am > 0 %}'자동차/연료/정비',{% endif %}
                        {% endif %}
                        ],
                            datasets: [{
                                label: 'TestSangmin 정보',
                                data: [
                                    {% if test_sangmin_instance %}
                                        {% if test_sangmin_instance.interior_am > 0 %} {{ test_sangmin_instance.interior_am }}, {% endif %}
                                        {% if test_sangmin_instance.insuhos_am > 0 %} {{ test_sangmin_instance.insuhos_am }}, {% endif %}
                                        {% if test_sangmin_instance.offedu_am > 0 %} {{ test_sangmin_instance.offedu_am }}, {% endif %}
                                        {% if test_sangmin_instance.trvlec_am > 0 %} {{ test_sangmin_instance.trvlec_am }}, {% endif %}
                                        {% if test_sangmin_instance.fsbz_am > 0 %} {{ test_sangmin_instance.fsbz_am }}, {% endif %}
                                        {% if test_sangmin_instance.svcarc_am > 0 %} {{ test_sangmin_instance.svcarc_am }}, {% endif %}
                                        {% if test_sangmin_instance.dist_am > 0 %} {{ test_sangmin_instance.dist_am }}, {% endif %}
                                        {% if test_sangmin_instance.plsanit_am > 0 %} {{ test_sangmin_instance.plsanit_am }}, {% endif %}
                                        {% if test_sangmin_instance.clothgds_am > 0 %} {{ test_sangmin_instance.clothgds_am }}, {% endif %}
                                        {% if test_sangmin_instance.auto_am > 0 %} {{ test_sangmin_instance.auto_am }}, {% endif %}
                                {% else %}
                                    0
                                {% endif %}
                                ],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });
                </script>
            </div>
            
              
              
            
    </div>
</div>
{% endblock %}
