{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">판매 게시물 수정</h5>
    <form method="post">
        {% csrf_token %}
        <!-- 오류 표시 시작 -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% for error in field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류 표시 끝 -->
        {% for field in form.visible_fields %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <!-- 수정 버튼 -->
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
{% endblock %}
