{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'common:signup' %}" class="border p-4 rounded shadow-sm">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="mb-3">
                    <label for="username" class="form-label">사용자 이름</label>
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                           value="{{ form.password2.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="text" class="form-control" name="email" id="email"
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">전화번호</label>
                    <input type="text" class="form-control" name="phone_number" id="phone_number"
                           value="{{ form.phone_number.value|default_if_none:'' }}">
                </div>

                <!-- 전화번호 양식 자동 입력 스크립트 -->
                <script>
                    document.getElementById('phone_number').addEventListener('input', function (e) {
                        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,4})(\d{0,4})/);
                        e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
                    });
                </script>
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">생성하기</button>
                </div>            </form>
        </div>
    </div>
</div>
{% endblock %}
